/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*================== END RESET CSS==================*/

/*================== GENERAL ==================*/
.clearfix:after {
    height: 0;
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1000px;
    font-family: Helvetica, Arial;
}

/*================== END GENERAL ==================*/

/*================== HEADER ==================*/
header {
    /*width: 100%;*/

    color: #ffffff;
    background: #3498db;
    padding: 10px 0;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 55px;
}

.company {
    float: left;
}

.company_logo {
    display: block;
    float: left;
}

.company_name {
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    float: left;
    padding: 12px 0 0 10px;
}

.connect {
    position: relative;
    float: right;
    margin: 10px 0 0 0;
}

.connect_title {
    float: left;
    position: relative;
    font-size: 13px;
    padding-right: 6px;
    margin-top: 8px;
}

.connect__list {
    float: right;
}

.connect__list li {
    display: inline-block;
}

.connect__list a {
    display: block;
    padding: 2px 0;
    color: #3498db;
    font-size: 9px;
}

.fa-circle {
    color: #fff;
}

.fa-inverse {
    color: #3498db;
}

/*================== END HEADER ==================*/

/*================== BANNER ==================*/
.banner {
    background: #38779d url(images/banner.jpg);
    background-blend-mode: soft-light;
    opacity: .9;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: 0 25%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.banner_container {
    padding: 60px 0 110px 170px;
    width: 56%;
    float: left;
    line-height: 1.3;
}

.banner_container h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner_container p {
    font-size: 30px;
}

/*================== BANNER FORM ==================*/

.banner_form {
    position: relative;
    float: left;
}

.form-body {
    width: 345px;
    position: absolute;
    top: 30px;
    left: 80px;
    padding: 30px 15px 36px;
    background-color: #fff;
    border-bottom: 5px solid #3498db;
}

.form_title {
    padding: 0 0 25px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: #333;
}

.form_item {
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    padding: 8px 15px;
    resize: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 15px;
}

.form_item_current {
    background: #f2f2f2 url("images/arrow.png") no-repeat 280px;
    color: #333;
}

.form-field {
    padding: 5px 0;
}

.form-body .form_item {
    width: 100%;
}

.form_button {
    display: block;
    background-color: #e74c3c;
    font-size: 25px;
    color: #fff;
    margin: 20px auto 0;
    padding: 10px 75px;
    border: none;
}

.form_button:hover {
    background-color: #ff3333;
}

/*================== END BANNER FORM ==================*/
/*================== END BANNER ==================*/

/*================== ABOUT ==================*/

.about {
    background-color: #f2f2f2;
    color: #333;
    padding: 30px 0 40px 170px;
}

.about_container {
    width: 60%;
}

.about_container h1 {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 25px;
}

.about_container p {
    font-size: 15px;
    padding-bottom: 25px;
    line-height: 1.4;
}

/*================== END ABOUT ==================*/

/*================== ADVANTAGES ==================*/
.advantages_list {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 25px 170px 20px 170px;
    text-align: center;
}

.advantages_title {
    color: #3498db;
    padding: 35px 0 0 170px;
    font-size: 22px;
}

.advantages_item {
    width: 290px;
    float: left;
    margin-right: 69px;
    font-size: 13px;
}

.advantages_item_title {
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0;
}

.advantages_item_content {
    text-align: center;
    line-height: 1.5em;
    height: 115px;
    overflow: hidden;
}

.advantages_item:last-child {
    margin: 0;
}

.advantages_item_button {
    width: 50px;
    height: 50px;
    margin: 20px auto 0;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    padding: 20px 0;
    display: block;
    color: #333;
    text-decoration: none;
}

.advantages_item_button:hover {
    background-color: #f2f2f2;
}
